<div>
  {{#each this}}
    <section class="comment border-info">
      <div class="card-header">
        {{user.username}}
        on
        {{format_date created_at}}
      </div>
      <div class="card-title">
        {{comment_text}}
      </div>
    </section>
  {{/each}}
</div>