<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Techie Blog</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" 
  </head>

  <body>
    <div class="wrapper">
      <header class="bg-info">
        <h1>
          <a href="/" class="text-white">Techie Blog</a>
        </h1>
        <nav align="right">
          {{#if loggedIn}}
            <a href="/dashboard" class="btn btn-info text-white">dashboard</a>
            <button id="logout" class="btn btn-light text-info">logout</button>
          {{else}}
            <a href="/login" class="btn btn-light text-info">login</a>
          {{/if}}
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer align="center" class="bg-info text-white">
        Thanks for visiting!
      </footer>
    </div>

    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>

</html>