* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

header {
  padding: 1%;
  margin-bottom: 2%;
}

header > h1 {
  margin: auto;
  width: 50%;
  text-align: center;
}
.posts,
.post-list {
  margin: 2% auto;
  padding: 1%;
}

.new-post,
.ur-post,
.post-edit {
  padding: 2%;
  margin: auto;
}

.post-edit > h2 {
  margin-top: 2%;
}

.single-post {
  padding: 2%;
}

.comment {
  padding: 2%;
  border: solid 2px;
  border-radius: 5px;
  margin: 2% auto;
}

textarea {
  resize: none;
}

.signup-saying {
  padding: 1%;
}

footer {
  padding: 2%;
  margin-top: 2%;
}
